//colors
$primaryColor: #222A58;
$secondaryColor:  #031927;
$lightBlue: #ACD7EC;
$white: #fff;

//font
$base-font-family: 'Arial', sans-serif;

//breakpoint
$breakpoint-sm: 576px;   
$breakpoint-md: 768px;   
$breakpoint-lg: 992px;   
$breakpoint-xl: 1200px;  